/* ETHER COLUMNS */ 
.ether-cols { margin: 15px -15px; /* change global column spacing here */
/*border: 1px solid orange;*/}
.ether-cols:after { display: block;  visibility: hidden;  content: ".";  height: 0;  line-height: 0;  font-size: 0;  clear: both;  }
.ether-cols + * { margin-top: 0px !important; }
* + .ether-cols { margin-top: 0px; }
.ether-cols + .ether-cols { margin-top: -15px; /* change global column spacing here */}
.ether-col > .ether-cols:first-child { margin-top: -15px !important; /* change global column spacing here */}
 
.ether-cols.ether-spacing-0 { margin: 0; }

.ether-col {
	margin: 0px -4px 0px 0px;/* change global column spacing here */
	display: inline-block; vertical-align: top;
	-moz-box-sizing: border-box; -ms-box-sizing: border-box; -webkit-box-sizing: border-box; -khtml-box-sizing: border-box; box-sizing: border-box; position: relative;
	/*border: 2px dotted red;*/
	/*background: #ddd;*/
}

.ether-grid-height-constrain .ether-col { overflow: hidden; }
.ether-spacing-0 .ether-col { padding: 0;}

.ether-col > *:first-child { margin-top: 0 !important; }
.ether-col > *:last-child,
.ether-col > *.ether-last-child { margin-bottom: 0 !important;  }

[class*="cols-2d3-"] > .ether-col,
[class*="cols-2d3-"] > * > .ether-col { width: 33.33%; } 
.ether-cols-2d3-1 > .ether-col:first-child,
.ether-cols-2d3-1 > * >.ether-col:first-child,
.ether-cols-2d3-2 > .ether-col:first-child + .ether-col,
.ether-cols-2d3-2 > * > .ether-col:first-child + .ether-col { width: 66.66%; } /* IE7+ */
.ether-cols-2d3-1 > .ether-col:nth-child(2n-1), 
.ether-cols-2d3-1 > * > .ether-col:nth-child(2n-1), 
.ether-cols-2d3-2 > .ether-col:nth-child(2n),
.ether-cols-2d3-2 > * > .ether-col:nth-child(2n) { width: 66.66%; } 

[class*="cols-3d4-"] > .ether-col,
[class*="cols-3d4-"] > * > .ether-col { width: 25% }
.ether-cols-3d4-1 > .ether-col:first-child,
.ether-cols-3d4-1 > * > .ether-col:first-child,
.ether-cols-3d4-2 > .ether-col:first-child + .ether-col,
.ether-cols-3d4-2 > * > .ether-col:first-child + .ether-col { width: 75%; }  /* IE7+ */
.ether-cols-3d4-1 > .ether-col:nth-child(2n-1),
.ether-cols-3d4-1 > * >.ether-col:nth-child(2n-1),
.ether-cols-3d4-2 > .ether-col:nth-child(2n),
.ether-cols-3d4-2 > * > .ether-col:nth-child(2n) { width: 75%; }

[class*="cols-2d4-"] .ether-col { width: 25%; }
.ether-cols-2d4-1 > .ether-col:first-child,
.ether-cols-2d4-1 > * > .ether-col:first-child, 
.ether-cols-2d4-2 .ether-col:first-child + .ether-col, 
.ether-cols-2d4-2 > * > .ether-col:first-child + .ether-col, 
.ether-cols-2d4-3 .ether-col:first-child + .ether-col + .ether-col,
.ether-cols-2d4-3 > * > .ether-col:first-child + .ether-col + .ether-col { width: 50%; } /* IE7+ */
.ether-cols-2d4-1 > .ether-col:nth-child(3n-2),
.ether-cols-2d4-1 > * > .ether-col:nth-child(3n-2), 
.ether-cols-2d4-2 > .ether-col:nth-child(3n-1),
.ether-cols-2d4-2 > * > .ether-col:nth-child(3n-1), 
.ether-cols-2d4-3 > .ether-col:nth-child(3n),
.ether-cols-2d4-3 > * > .ether-col:nth-child(3n) { width: 50%; }

.ether-cols-1 > .ether-col,
.ether-cols-1 > * > .ether-col { width: 100%; }
.ether-cols-2 > .ether-col,
.ether-cols-2 > * > .ether-col { width: 50%;}
.ether-cols-3 > .ether-col,
.ether-cols-3 > * > .ether-col { width: 33.33%;}
.ether-cols-4 > .ether-col,
.ether-cols-4 > * > .ether-col { width: 25%; }
.ether-cols-5 > .ether-col,
.ether-cols-5 > * > .ether-col { width: 20%; }
.ether-cols-6 > .ether-col,
.ether-cols-6 > * > .ether-col { width: 16.66%; }
.ether-cols-8 > .ether-col,
.ether-cols-8 > * > .ether-col { width: 12.5%; }
.ether-cols-10 > .ether-col,
.ether-cols-10 > * > .ether-col { width: 10%; }



/*m*/

@media screen and (max-width: 780px) {
	
	.ether-cols .ether-col { width: 100% !important; }
	
	.ether-cols-3 .ether-col,
	.ether-cols-4 .ether-col,
	.ether-cols-5 .ether-col,
	.ether-cols-6 .ether-col,
	.ether-cols-8 .ether-col,
	.ether-cols-10 .ether-col { width: 50% !important; }
}

@media screen and (max-width: 580px) {
	
	.ether-cols .ether-col { width: 100% !important; }
}



/*	***GRIDSLIDER NOTES***
	
.ether-GRID - element uses gridslider with slider turned off (grid only)
.ether-SLIDER - element uses gridslider with slider turned on
.ether-COL-GROUP - cols * rows visible on screen
.ether-COL - columns within.ether-GRID behave a little bit differently from non-grid columns: 
		-float left instead of display: inline-block for cols positioning
		-reset margin back to 0
	
	FIRST-CHILD within.ether-COL - .ether-COL within .ether-GRID will always consists of only one item. Reset general positioning for that item to ensure bulletproof compatibility of that item with.ether-GRID
	
.ether-SLIDER-WINDOW - top and bottom padding to prevent margin collapse in some cases
*/

.ether-grid { position: relative; }
.ether-grid .ether-cols { position: relative; margin-top: -15px; margin-bottom: -15px;}
.ether-grid .ether-col-group { position: absolute; top: 0px; left: 0px; width: 100%; z-index: -1; visibility: hidden; }

.ether-grid .ether-spacing-0.ether-cols { margin: 0; }
.ether-grid .ether-spacing-0 .ether-col { padding: 0;}


.ether-grid .ether-col { margin: 0; float: left; }
.ether-grid .ether-first-col { clear: left; }

.ether-grid .ether-col > :first-child { margin: 0 !important; display: block !important; float: none !important; /*max-height: 100% !important;*/}


.ether-slider-window { padding-top: 1px; padding-bottom: 1px; position: relative; }

/* ie7 fix */
.ether-ie7-grid-fix .ether-cols { float: left; width: 100%; position: relative;}
.ether-ie7-grid-fix .ether-col { padding: 0 !important; margin-right: -1px; position: relative;}
.ether-ie7-grid-fix .ether-col > *:first-child { margin: 15px !important; }
.ether-ie7-grid-fix .ether-spacing-0 .ether-col { padding: 0px !important; }
.ether-ie7-grid-fix .ether-spacing-0 .ether-col > *:first-child { margin: 0 !important; }






.ether-ctrl-wrap > * { }
.ether-ctrl-wrap { position: absolute; top: 0px; left: 0; bottom: 0; z-index: 100; padding: 0px; height: 0;  /* background: #ffffff; border: 1px solid #c1c1c1; -webkit-border-radius: 2px; -moz-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; */}

.ether-ctrl-pos-x-left { left: 0; }
.ether-ctrl-pos-x-center { left: 50%; }
.ether-ctrl-pos-x-right  { right: 0; }
.ether-ctrl-pos-y-top { top: 0;}
.ether-ctrl-pos-y-center { top: 50%;}
.ether-ctrl-pos-y-bottom { bottom: 0;}

.ether-ctrl-car { position: absolute; margin: 0; padding: 0px 0px; left: 0; top: 0; overflow: visible !important;}
.ether-ctrl-car > div { 
	/*width: 32px; 
	height: 32px; */
	text-align: center; 
	cursor: pointer; 
	line-height: 32px; 
	font-size: 30px; 
	margin: 0 2px 0 2px; 
	float: left; 
	position: absolute;
	font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #ffffff;
  opacity: .5;
}
.ether-ctrl-car.ether-full-width { width: 100% !important; left: 0 !important; right: 0; }
.ether-ctrl-car.ether-full-width .ether-prev { position: absolute; left: 0; top: 0; }
.ether-ctrl-car.ether-full-width .ether-next { position: absolute; right: 0; left: auto; top: 0; }

.ether-ctrl-wrap .ether-ctrl {background-repeat: no-repeat;}

.ether-ctrl-car .ether-prev {
	left: 20px;
}
.ether-ctrl-car .ether-prev:before {
	content: "\e079";
}
.ether-ctrl-car .ether-next {
	right: 20px;
	left: auto;
}
.ether-ctrl-car .ether-next:before {
	content: "\e080";
}

.ether-ctrl-car .ether-prev:hover { left: 20px; top: 0; opacity: 1;}
.ether-ctrl-car .ether-next:hover { right: 20px; top: 0; opacity: 1;}

.ether-ctrl-car .ether-prev.ether-disabled { background-position: 0 -64px;}
.ether-ctrl-car .ether-next.ether-disabled { background-position: -32px -64px;}
.ether-ctrl-car .ether-ctrl.ether-disabled { opacity: 0.5; cursor: default;}

.ether-scroll-axis-y .ether-ctrl-car .ether-prev { -webkit-transform: rotate(90deg); }
.ether-scroll-axis-y .ether-ctrl-car .ether-next { -webkit-transform: rotate(90deg); }

.ether-ctrl-style-0 .ether-ctrl { background-image: url(slider-ctrl-0.png);}
.ether-ctrl-style-1 .ether-ctrl { background-image: url(slider-ctrl-1.png);}
/*.ether-ctrl-style-1 .ether-ctrl-car > div { width: 16px; height: 16px;}*/
/*.ether-ctrl-style-2 .ether-ctrl { background-image: url(slider-ctrl-2.png);}*/
.ether-ctrl-style-2 .ether-ctrl-pag > div { width: 10px; height: 10px;}
.ether-ctrl-style-2 .ether-ctrl-car > div { width: 24px; height: 24px;}
.ether-ctrl-style-3 .ether-ctrl { background-image: url(slider-ctrl-3.png);}
.ether-ctrl-style-3 .ether-ctrl-pag > div { width: 8px; height: 8px;}
.ether-ctrl-style-3 .ether-ctrl-car > div { width: 24px; height: 24px;}
.ether-ctrl-style-4 .ether-ctrl { background-image: url(slider-ctrl-4.png);}
.ether-ctrl-style-4 .ether-ctrl-pag > div { width: 12px; height: 12px;}
.ether-ctrl-style-4 .ether-ctrl-car > div { width: 32px; height: 32px;}
.ether-ctrl-style-5 .ether-ctrl { background-image: url(slider-ctrl-5.png);}
.ether-ctrl-style-5 .ether-ctrl-pag > div { width: 10px; height: 10px;}
.ether-ctrl-style-5 .ether-ctrl-car > div { width: 32px; height: 32px;}
.ether-ctrl-style-6 .ether-ctrl { background-image: url(slider-ctrl-6.png);}
.ether-ctrl-style-6 .ether-ctrl-pag > div { width: 10px; height: 10px;}
.ether-ctrl-style-6 .ether-ctrl-car > div { width: 32px; height: 32px;}
.ether-ctrl-style-7 .ether-ctrl { background-image: url(slider-ctrl-7.png);}
.ether-ctrl-style-7 .ether-ctrl-pag > div { width: 12px; height: 12px;}
.ether-ctrl-style-7 .ether-ctrl-car > div { width: 20px; height: 20px;}
.ether-ctrl-style-8 .ether-ctrl { background-image: url(slider-ctrl-8.png);}
.ether-ctrl-style-8 .ether-ctrl-pag > div { width: 10px; height: 10px;}
.ether-ctrl-style-8 .ether-ctrl-car > div { width: 12px; height: 12px;}
.ether-ctrl-style-9 .ether-ctrl { background-image: url(slider-ctrl-9.png);}

.ether-ctrl-style-0-light .ether-ctrl { background-image: url(slider-ctrl-0-light.png);}
.ether-ctrl-style-1-light .ether-ctrl { background-image: url(slider-ctrl-1-light.png);}
.ether-ctrl-style-1-light .ether-ctrl-car > div { width: 16px; height: 16px;}
.ether-ctrl-style-2-light .ether-ctrl { background-image: url(slider-ctrl-2-light.png);}
.ether-ctrl-style-2-light .ether-ctrl-pag > div { width: 10px; height: 10px;}
.ether-ctrl-style-2-light .ether-ctrl-car > div { width: 24px; height: 24px;}
.ether-ctrl-style-3-light .ether-ctrl { background-image: url(slider-ctrl-3-light.png);}
.ether-ctrl-style-3-light .ether-ctrl-pag > div { width: 8px; height: 8px;}
.ether-ctrl-style-3-light .ether-ctrl-car > div { width: 24px; height: 24px;}
.ether-ctrl-style-4-light .ether-ctrl { background-image: url(slider-ctrl-4-light.png);}
.ether-ctrl-style-4-light .ether-ctrl-pag > div { width: 12px; height: 12px;}
.ether-ctrl-style-4-light .ether-ctrl-car > div { width: 32px; height: 32px;}
.ether-ctrl-style-5-light .ether-ctrl { background-image: url(slider-ctrl-5-light.png);}
.ether-ctrl-style-5-light .ether-ctrl-pag > div { width: 10px; height: 10px;}
.ether-ctrl-style-5-light .ether-ctrl-car > div { width: 32px; height: 32px;}
.ether-ctrl-style-6-light .ether-ctrl { background-image: url(slider-ctrl-6-light.png);}
.ether-ctrl-style-6-light .ether-ctrl-pag > div { width: 10px; height: 10px;}
.ether-ctrl-style-6-light .ether-ctrl-car > div { width: 32px; height: 32px;}
.ether-ctrl-style-7-light .ether-ctrl { background-image: url(slider-ctrl-7-light.png);}
.ether-ctrl-style-7-light .ether-ctrl-pag > div { width: 12px; height: 12px;}
.ether-ctrl-style-7-light .ether-ctrl-car > div { width: 20px; height: 20px;}
.ether-ctrl-style-8-light .ether-ctrl { background-image: url(slider-ctrl-8-light.png);}
.ether-ctrl-style-8-light .ether-ctrl-pag > div { width: 10px; height: 10px;}
.ether-ctrl-style-8-light .ether-ctrl-car > div { width: 12px; height: 12px;}


.ether-ctrl-pag { position: absolute; margin:0px; padding: 0; text-align: center;}
.ether-ctrl-pag:after { display: block; visibility: hidden; content: "."; height: 0; line-height: 0; font-size: 0; clear: both; }
.ether-ctrl-pag > div { float: left; padding: 0px; overflow: hidden; width: 16px; height: 16px; text-align: center; line-height: 16px; font-size: 7pt; cursor: pointer; margin: 0 1px 0 0px; text-align: left; text-indent: -9999px; vertical-align: top;}

.ether-ctrl-pag > div { background-position: 0px -96px; }
.ether-ctrl-pag > div:hover { background-position: 0px -128px;}
.ether-ctrl-pag > div.ether-current { background-position: -0px -160px; opacity: 1;}

.ether-image-stretch-mode-x img { width: 100% !important; height: auto !important; margin: 0 auto !important; display: block !important; max-width: 100% !important; max-height: none !important;}
.ether-image-stretch-mode-y img { height: 100% !important; width: auto !important; margin: 0 auto !important; display: block !important; max-height: 100% !important; max-width: none !important;}
.ether-image-stretch-mode-fit img { width: auto !important; height: auto !important; margin: 0 auto !important; display: block !important; max-width: 100% !important; max-height: 100% !important;}
/*.ether-image-stretch-mode-fill img { width: 100% !important; height: auto !important; margin: 0 auto !important; display: block !important; max-width: none !important; max-height: none !important;}*/
.ether-image-stretch-mode-fill img { max-width: none !important; max-height: none !important;}



.ether-grid-height-auto.ether-image-stretch-mode-y img,
.ether-grid-height-auto.ether-image-stretch-mode-fit img,
.ether-grid-height-auto.ether-image-stretch-mode-fill img { max-height: none !important; height: auto !important; width: 100% !important;}


.ether-load-overlay { background: #ffffff url(ajax-loader.gif) 50% 50% no-repeat; width: 100%; position: absolute; top: 0; left: 0; right: 0; bottom: 0; z-index: 99; min-height: 20px; }


.ether-hide-grid-cell-overflow { overflow: hidden; max-height: 100%;}






.ether-ctrl { 
	-webkit-transition-property: opacity; -moz-transition-property: opacity; -o-transition-property: opacity; -ms-transition-property: opacity; transition-property: opacity; 
	-webkit-transition-duration: .2s; -moz-transition-duration: .2s; -o-transition-duration: .2s; -ms-transition-duration: .2s; transition-duration: .2s;
	-webkit-transition-timing-function: ease; -moz-transition-timing-function: ease; -o-transition-timing-function: ease; -ms-transition-timing-function: ease; transition-timing-function: ease;
}



.ether-img-title { position: absolute; left: 0; right: 0; padding: 5px 15px; text-align: center; z-index: 20; background: #ffffff; color: #464646; border-bottom: 1px solid #c1c1c1; border-top: 1px solid #c1c1c1}





/*
	default alignment for buttons and images and perhaps something else, too
*/
.ether-aligncenter { margin-left: auto; margin-right: auto; display: block; float: none; margin-top: 20px; margin-bottom: 20px;}
.ether-alignleft { float: left; margin-right: 30px !important; margin-left: 0 !important; margin-top: 0px;}
.ether-alignright { float: right; margin-left: 30px !important; margin-right: 0 !important; margin-top: 0px;}

.ether-text-alignleft { text-align: left; }
.ether-text-alignright { text-align: right; }
.ether-text-aligncenter { text-align: center; }

@media screen and (max-width: 580px) {
	.ether-alignright {  margin-left: 0px; }
	.ether-alignleft {  margin-right: 0px; }
}

/*
	default alignment for buttons and images and perhaps something else, too
*/
.ether-aligncenter { margin-left: auto; margin-right: auto; display: block; float: none; margin-top: 20px; margin-bottom: 20px;}
.ether-alignleft { float: left; margin-right: 30px !important; margin-left: 0 !important; margin-top: 0px;}
.ether-alignright { float: right; margin-left: 30px !important; margin-right: 0 !important; margin-top: 0px;}

.ether-text-alignleft { text-align: left; }
.ether-text-alignright { text-align: right; }
.ether-text-aligncenter { text-align: center; }

@media screen and (max-width: 580px) {
	.ether-alignright {  margin-left: 0px; }
	.ether-alignleft {  margin-right: 0px; }
}




