@font-face {
	font-family: 'icomoon';
	src:url('../assets/fonts/icomoon.eot?lim9h6');
	src:url('../assets/fonts/icomoon.eot?#iefixlim9h6') format('embedded-opentype'),
		url('../assets/fonts/icomoon.woff?lim9h6') format('woff'),
		url('../assets/fonts/icomoon.ttf?lim9h6') format('truetype'),
		url('../assets/fonts/icomoon.svg?lim9h6#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

	::-webkit-input-placeholder {color:#ffffff;}
	::-moz-placeholder          {color:#ffffff;}/* Firefox 19+ */
	:-moz-placeholder           {color:#ffffff;}/* Firefox 18- */
	:-ms-input-placeholder      {color:#ffffff;}

	:focus::-webkit-input-placeholder {color: transparent}
	:focus::-moz-placeholder          {color: transparent}
	:focus:-moz-placeholder           {color: transparent}
	:focus:-ms-input-placeholder      {color: transparent}

				/*Navigation Bar style starts*/

.navbar-fixed .nav-wrapper .icon-logo.brand-logo:before {
	content: "\e600";
}

.navbar-fixed .nav-wrapper .icon-logo.brand-logo {
	font-size: 50px;
	padding: 5px;
}

.navbar-fixed .nav-wrapper .side-nav li form.ib_top_search {
	width: 270px;
}

.navbar-fixed .nav-wrapper .side-nav li form.ib_top_search a {
	padding: 0;
}

.navbar-fixed .nav-wrapper .side-nav li form.ib_top_search a.mdi-action-search {
	font-size: 25px;
}

.navbar-fixed .nav-wrapper .side-nav li form.ib_top_search .input-field {
	margin-top: 0;
}

.search-icon {
	position: absolute;
	top: 0px;
	right: 10px;
}
.ether-grid .ether-cols {
	margin-top: 0;
}

.ether-cols {
	margin: 0 -15px;
}

.btn_search {
	height: 63px;
	padding: 0px;
	margin-bottom: 0px;
	box-shadow: 0px 0px 0px;
	-webkit-box-shadow: 0px 0px 0px;
}

.btn_search:hover {
	box-shadow: 0px 0px 0px;
	-webkit-box-shadow: 0px 0px 0px;
}



/*Navigation Bar style ends*/


/*index.html main slider starts*/
.comp_logos {
	padding-bottom: 30px;
}

.comp_logos .comp_logo_item {
	position: relative;
}

.comp_logos .comp_logo_item .content {
	position: absolute;
	top: 35px;
	left: 0;
	height: 180px;
}

.comp_logos .comp_logo_item .content img {
	width: 70%;
}

.comp_logos .comp_logo_item .overlay {
	position: absolute;
	text-align: center;
	padding: 15px;
	opacity: 0;
	height: 180px;
	background-color: #ffffff;
	-webkit-transition: all 0.50s ease-in-out;
	   -moz-transition: all 0.50s ease-in-out;
	    -ms-transition: all 0.50s ease-in-out;
	     -o-transition: all 0.50s ease-in-out;
	        transition: all 0.50s ease-in-out;
	-webkit-transform: translateY(180px);
	   -moz-transform: translateY(180px);
	    -ms-transform: translateY(180px);
	     -o-transform: translateY(180px);
	        transform: translateY(180px);
}

.comp_logos .comp_logo_item:hover .overlay {
	position: absolute;
	text-align: center;
	opacity: 0.9;
	height: 180px;
	-webkit-transform: translateY(0px);
	   -moz-transform: translateY(0px);
	    -ms-transform: translateY(0px);
	     -o-transform: translateY(0px);
	        transform: translateY(0px);
}


		/*index.html main slider ends*/

@media only screen and (min-width : 993px) {
	.container {
		width: 90%;
	}
}

/*index.html top products and services style starts*/

.row .col .card .card-content .card-title {
	font-size: 16px;
}
.row .col .card .card-content i{
	font-size: 20px;
}

.row .col .card .card-content .product-price {
	font-size: 18px;
}

.row .col .card-panel{
	float: left;
}

.row .col {
	padding-left: 8px;
	padding-right: 8px;
}


.row .col .card-action .col .date-of-product{
	font-size: 12px;
}
.card-title{
	color: #000000;
}

.card a {
	text-transform: none;
	color: #ffffff;
}

.card a:hover {
color: #03A9F4;
}


.card .card-action {
	padding: 10px;
	height: 60px;
	margin-left: 10px;
	margin-bottom: 10px;
}


.card .card-content a{
	color: #000000;
}

.card .card-content .clips{
overflow: hidden;
max-height: 180px;
}

.card .card-content .card-action {
	border-top: 0px;
	margin-left: 0px;
  	padding-left: 0px;
}

/*.col .sf-menu {
	width: 250px;
}*/
 /*index.html top products and services style ends*/

   /*menu superfish products.html and services.html*/
.sf-menu {
	width: 100%;
}

.sf-vertical li {
background-color: #03A9F4;
}

.sf-menu li:hover, .sf-menu li.sfHover {
	background-color:  #03A9F4;
}

.sf-menu ul li{
	background-color:  #03A9F4;
}
.sf-menu a {
	color: #FFFFFf;
}

.breadcrumbs-row{
	margin-bottom: 0px;
}


.row .category-menu .sf-menu {
	margin-top: 5px;
}


.dropdown-content li>a, .dropdown-content li>span {
	color: #000000;
	font-size: 16px;
}
 /*menu superfish products.html and services.html*/

/*breadcrumbs Starts*/
.container .breadcrumbs {
	padding: 0 20px 0 20px;
}

.container .breadcrumbs li {
	display: inline-block;
}


.materialize-textarea {
	width: 567px;
}

.container .breadcrumbs li span {
	padding-left: 5px;
}

/*breadcrumbs Ends*/


/*ion range slider products.html and services.html starts*/
.row .col .ion-range {
	height: 105px;
}
.row .col .ion-range a{
	top: 15px;
}

.ion-range-title h3{
padding: 0 10px;
position: relative;
display: inline-block;
font-size: 16px;
color: #303030;
text-transform: uppercase;
background-color: #fff;
z-index: 2;
}

.row .category-menu h3{
	font-size: 14px;
}

.ion-range-title {
	position: relative;
	text-align: center;
}

.ion-range-title:after {
  position: absolute;
  top: 50%;
  content: "";
  left: 0;
  right: 0;
  height: 1px;
  display: block;
  background-color: #03A9F4;
}

.irs-from:after, .irs-to:after, .irs-single:after{
	border-top-color:#03A9F4;
}

/*ion range slider products.html and services.html ends*/



/*Flexslider starts*/

.flex-direction-nav a {
	line-height: normal;
}

.flexslider#carousel .slides li {
	margin-left: 5px;
}

/*Flexslider Ends*/
.row .col table {
	width: 231px;
	height: 183px;
	font-size: 13px;
}

/*product-details.html product details view Starts*/
.row .col .product-detail{
background: none;
}

.row .col .product-detail ul{
float:left;
margin:0px;
padding:0px;
}

.row .col .product-detail ul li{
list-style:none;
padding:4px 9px;
}


.row .col .product-detail ul li.odd{
color: #aaa;
font-weight:bold;
}

/*product-details.html product details view Ends*/

.tabs li.tab a {
	color: #03A9F4;
}

.tabs li.tab a:hover {
	color: #03A9F4;
}

.tabs .indicator {
background-color: #03A9F4;
}

/*@media only screen and (min-width: 993px){
.row .col.l6 {
	margin-left: 1px;
	}
}*/


/*button styles*/


.btn:hover {
	background-color: #03A9F4;
}

.btn:focus {
	background-color: #03A9F4;
}
/*button styles*/

/*product-details.html comment view style Starts*/
.col .col .card-panel .row .col img {
	width: 35px;
	height: 35px;
}

.row .comment-view {
	margin-top: 15px;
}

.comment-view .col .col .company-profile-detail{
background:none;
}

.comment-view .col .col .company-profile-detail ul{
float:left;
margin:0px;
padding:0px;
}

.comment-view .col .col .company-profile-detail ul li{
list-style:none;
padding:4px 9px;
}

.comment-view .col .col .company-profile-detail ul li.odd{
color: #aaa;
font-weight:bold;
}

.comment-view .card .card-content .comment_edit {
	float: right;
	margin-bottom: 15px;
}


textarea:focus.materialize-textarea {
border-bottom: 1px solid #03A9F4;
-webkit-box-shadow: 0 1px 0 0 #03A9F4;
-moz-box-shadow: 0 1px 0 0 #03A9F4;
box-shadow: 0 1px 0 0 #03A9F4;
}


.company-profile-detail .type {
	font-size: 14px;
}

.company-profile-detail .detail {
	font-size: 14px;
}

.comment-view .col .col .company-profile-detail ul{
	margin-left: 50px;
}

/*range slider Starts*/

.irs-from, .irs-to, .irs-single{
	background-color: #03A9F4;
}

.irs-min, .irs-max{
	background-color: #03A9F4;
	color: #ffffff;
}
/*range slider Ends*/

/*Page footer style Starts*/


/*===================================signUp.html Starts========================================*/
/*.container .row .register-form{
position: absolute;
top: 30%;
}*/

.input-field input[type=text]:focus + label, 
.input-field input[type=password]:focus + label,
.input-field input[type=email]:focus + label{
	color: #03A9F4;
}

.input-field label:focus{
	color: #03A9F4;
}
.input-field .prefix.active {
    color: #03A9F4;
}

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, textarea:focus.materialize-textarea{
border-bottom: 1px solid #03A9F4;
-webkit-box-shadow: 0 1px 0 0 #03A9F4;
-moz-box-shadow: 0 1px 0 0 #03A9F4;
box-shadow: 0 1px 0 0 #03A9F4;
}




/*===================================signIn.html Starts========================================*/
.auth_page {
position: relative;
top: 70px;
}


/*===================================signIn.html Ends========================================*/


/*===================================search.html Starts========================================*/
.search_container {
	margin-top: 50px;
}

.search_container .input-field {
	margin-top: 0px;
}

.search_container button {
	text-transform: none;
}

.search_container .input-field .select-wrapper span {
	border-bottom: 1px solid #03A9F4;
}

.form-wrapper {
	border-color: #03A9F4;
}

.form-wrapper input {
	border-bottom: 1px solid #03A9F4;
}


.form-wrapper input::-webkit-input-placeholder {color:#000000;}
.form-wrapper input::-moz-placeholder          {color:#000000;}/* Firefox 19+ */
.form-wrapper input:-moz-placeholder           {color:#000000;}/* Firefox 18- */
.form-wrapper input:-ms-input-placeholder      {color:#000000;}

.form-wrapper input:focus::-webkit-input-placeholder {color: transparent}
.form-wrapper input:focus::-moz-placeholder          {color: transparent}
.form-wrapper input:focus:-moz-placeholder           {color: transparent}
.form-wrapper input:focus:-ms-input-placeholder      {color: transparent}

.search-card img {
	width: 282px;
	height: 215px;
}

/*===================================search.html Ends========================================*/

/*===================================compnay-profile.html Starts========================================*/
.company-profile-view {
	margin-left: 0px;
	margin-right: 0px;
	max-width: none;
	width: 100%;
	padding-top: 30px;
	padding-bottom: 10px;
}

.company-profile-logo {
	width: 150px;
	height: 150px;
}

.company-profile-name {
	margin-top: 30px;
}

.company-profile-tabs {
	margin-left: 70px;
}

/*===================================compnay-profile.html Ends========================================*/